:root {
  --sharedpadding: 0.8rem;
}

* {
  box-sizing: border-box;
  /* outline: 1px dashed red; for testing */
}
/* set font-size to 62.5 so rem * 10 is pixels */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* capital case for certain text spans */
.capitalCase {
  text-transform: capitalize;
}

p {
  margin: 0;
  line-height: 200%;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/* header styles */
header {
  flex: 0 0 10%;
  max-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  width: 100%;
  background-image: linear-gradient(to right, #3b6ec3, #230455);
  color: white;
}
h1 {
  text-align: center;
  margin: 0;
}

/* sidebar + current conditions + forecast container */
.weatherInfo {
  flex: 0 0 90%;
  max-height: 90%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
h2,
h3 {
  margin: 0;
}

/* sidebar */
#search {
  flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--sharedpadding);
}
#search form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#search form > input {
  flex: 0 0 4rem;
  width: 100%;
  margin: 0.4rem 0;
  padding: 1rem;
}
#search form > button {
  flex: 0 0 3.5rem;
  width: 100%;
  margin: 0.4rem 0 0.4rem 0;
  background-color: #5aa2e9;
  color: white;
  border-radius: 5px;
  border: none;
}
#search > hr {
  width: 100%;
  flex: 0 0 0.2rem;
  color: grey;
}
/* buttons for previous searches - created via js */
#previousSearches {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#previousSearches > button {
  flex: 0 0 3.5rem;
  width: 100%;
  margin: 0.4rem 0 0.4rem 0;
  background-color: #b7b7b7;
  border-radius: 5px;
  border: none;
}

/* current conditions + forecast */
main {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: var(--sharedpadding);
}
#cityDetails {
  outline: 1px solid black;
  border-radius: 5px;
  padding: var(--sharedpadding);
}
#cityDetails h2 {
  display: inline;
}
/* limit height of current conditions icon and move it down */
#currentIcon {
  max-height: 4.8rem;
  margin-bottom: -1.6rem;
}
/* colors for uv index */
span[class^="uv"] {
  padding: 0 0.8rem;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px black);
}
.uvGreen {
  background-color: green;
  color: white;
}
.uvYellow {
  background-color: yellow;
  color: black;
}
.uvOrange {
  background-color: orange;
  color: black;
}
.uvRed {
  background-color: red;
  color: white;
}
.uvPurple {
  background-color: purple;
  color: white;
}

/* 5 day forecast */
#fiveDay {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--sharedpadding);
}
#fiveDayHeader {
  flex: 0 0 5%;
  padding-bottom: var(--sharedpadding);
}
#forecastDays {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
#forecastDays > .daycast {
  flex: 0 0 19%;
  max-width: 19%;
  max-height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #33475a;
  color: white;
  padding: var(--sharedpadding);
  border-radius: 5px;
}
#forecastDays > .daycast h4 {
  margin: 0;
}
#forecastDays > .daycast img {
  height: 4.8rem;
  width: 4.8rem;
  align-self: flex-start;
}
