* {
  box-sizing: border-box;
  /* outline: 1px dashed red; for testing */
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

header {
  flex: 0 0 10%;
  max-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin: 0;
}
.weatherInfo {
  flex: 0 0 90%;
  max-height: 90%;
  display: flex;
}
h2,
h3 {
  margin: 0;
}

#search {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#search form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#search form > input {
  flex: 0 0 4rem;
  width: 90%;
  margin: 0.4rem 0;
}
#search > button,
#search form > button {
  flex: 0 0 3.5rem;
  width: 90%;
  margin: 0.4rem 0 0.4rem 0;
}
#search > hr {
  width: 90%;
  flex: 0 0 0.2rem;
  color: grey;
}

main {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

p,
h4 {
  margin:0;
}

#fiveDay {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fiveDayHeader {
  flex: 0 0 5%;
  display: flex;
  justify-content: start;
  align-items: center;
}
#forecastDays {
  display: flex;
  height: 100%;
}
#forecastDays > .daycast {
  flex: 0 0 20%;
  max-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#forecastDays > .daycast img {
  height: 6.4rem;
  width: 6.4rem;
  align-self: flex-start;
}
